.wire_posted_by{
	font-size: 9px;
	float: left;
}

.wire_posted_via{
	font-size: 9px;
}

.wire_posted_date{
	font-size: 9px;
}

.wire_post_tools{
	font-size: 9px;
}

.wire_avatar_messages{
	max-width: 50px;
	max-height: 50px;
}

.wire_imgs{
	max-width: 200px;
	max-height: 200px;
}

.wire_avatar{
	max-width: 85px;
	max-height: 85px;
}

.wire_img_clicktoview{
	font-size: 9px;
}

#wire_conversation_table{
	width: 100%;
}

.wire_conversation{
	width: 100%;
	padding-bottom: 25px;
}

.wire_no_messsages{
	font-size: 185%;
	text-align: center;
	font-weight: bold;
	width: 100%;
	color: grey;
	line-height: 200%;
}

.wire_wire_not_found{
	font-size: 185%;
	text-align: center;
	font-weight: bold;
	width: 100%;
	color: grey;
	line-height: 200%;
}

.wire_attached_img{
	padding: 10px;
	width: 200px;
}

#wireNewMessageContainer {
	margin: 0px;
	padding: 0px;
	width: 50px;
}

#wireNewMessageLeft {
	margin: 0px;
	padding: 0px;
	width: 25px;
	float: left;
}

#wireNewMessageRight {
	margin: 0px;
	padding: 0px;
	width: 25px;
	float: left;
}

